# Build files
build/
*.o
*.so
*.a

# SST builds
sst-core/
sst-elements/

# Python
__pycache__/
*.pyc

# Logs
*.log
!setup/*.log
!setup/sst_basic_run.log
!setup/qemu/qemu_environment.log

# Virtual machine images
*.qcow2
*.img

# Temporary files
tmp/
temp/

# OS junk
.DS_Store
Thumbs.db